name: Build CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

# The following concurrency group cancels in-progress jobs or runs on pull_request events only;
# if github.head_ref is undefined, the concurrency group will fallback to the run ID,
# which is guaranteed to be both unique and defined for the run.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 8
          - 11
          - 17
          - 21
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.2

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4.2.0
        with:
          distribution: "temurin"
          java-version: "${{ matrix.java-version }}"
          cache: "gradle"

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@27152f6fa06a6b8062ef7195c795692e51fc2c81

      - name: Build with Gradle
        uses: gradle/gradle-build-action@29c0906b64b8fc82467890bfb7a0a7ef34bda89e
        with:
          arguments: build

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4.3.1
        with:
          name: assembled-plugin-jdk_${{ matrix.java-version }}
          path: build/
