name: Dependency Submission

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: 25
          cache: "gradle"
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5.0.0
