name: Gradle update

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'CycloneDX/cyclonedx-gradle-plugin' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: Validate Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2.1.0
        with:
          labels: gradlew,technical-debt
